body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1;
  color: #1c1d1f;
  z-index: 0;
  justify-content: center;
  align-items: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  color: black;
  font-size: xx-large;
}
.material-symbols-outlined:hover {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  color: #5624d0;
}
div article {
  line-height: 1.1;
}
h1,
h2 {
  font-family: suisse;
}
h3 {
  font-weight: lighter;
  font-size: small;
}
.web-main-content-wrapper {
  position: relative;
  margin: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 0px;
  z-index: 1;
}
.hide {
    position: relative;
    display: none !important;
    visibility: collapse;
    background-color: #b4690e;
}
.mobile {
  position: absolute;
  display: none;
  visibility: hidden;
}
.nav-links {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  transform: translate(-15px, 0px);
}

.nav-links div {
  list-style: none;
  display: inline-flex;
  padding: 0 0rem;
  width: auto;
  height: 100%;
  color: black;
}

.nav-links .form {
  width: 100%;
  display: flex;
  height: 40px;
}

.nav-links div a {
  text-decoration: none;
  position: relative;
  white-space: nowrap;
}

.search-bar {
  display: block;
  max-width: none;
  min-width: 50px;
  flex-grow: 1;
  height: 4.8rem;
  border: 1px solid #1c1d1f;
  background-color: #f7f9fa;
  border-radius: 9999px;
  margin: 0 1.2rem;
}
.search-button:hover {
  cursor: pointer;
  color: #5624d0;
}
input[type="search"]:focus {
  outline: none;
}
.sign-up {
  position: relative;
  border: 1px black solid;
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 5rem;
  color: #fff;
  background-color: #1c1d1f;
  text-decoration: none;
}
.login {
  position: relative;
  border: 1px black solid;
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 5rem;
  color: black;
  text-decoration: none;
}

.login:hover {
  background-color: #e0e0e0;
}
.lang:hover {
  background-color: #e0e0e0;
}
.lang {
  border: 1px black solid;
}
.language {
  position: relative;
  display: block;
  justify-content: center;
  color: #5624d0;
  text-decoration: none;
}
.search-icon {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 5px;
}
.shopping-cart {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 5px;
}
.search-bar input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #f7f9fa;
}

.no-outline:focus {
  outline: none;
}

.dark {
  color: black;
}

div .dark :hover {
  color: #5624d0;
}

main {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70vw;
  max-width: 1345px;
}
/* Billboard section */
.billboard {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  z-index: 0;
  margin-bottom: 0.5rem;
}
.billboard-banner-image-container {
  background-color: #f8f8f8;
  height: 20vw;
  width: 100%;
  width: 70vw;
  max-width: 1345px;
  overflow: hidden;
}
.billboard-banner-image-container img {
  object-fit: contain;
  object-position: initial;
}

.billboard-content-box {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  background: #fff;
  position: absolute;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  padding: 2rem 2rem 3.4rem 2rem;
  margin: 0;
  line-height: 1;
  width: 350px;
  height: 90px;
  transform: translate(-90%, 55px);
}

/* Courses section */
.courses-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  max-width: 1346px;
  border: 1px solid #d1d7dc;
  padding: 1rem 1.8rem;
  margin-bottom: 20px;
  overflow: hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.headline {
  margin-left: 2rem;
  line-height: 1.4;
}
.threadbit .thread {
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

/* Catagories */
.catagories-button {
  align-items: center;
  display: inline-flex;
  background: none;
  border: none;
  color: #6a6f73;
  padding: 0.4rem 0.6rem;
  font-size: medium;
  font-weight: 700;
}
.catagories-button:hover {
  cursor: pointer;
  color: black;
}
.courses-catagories {
  width: 100%;
  display: flex;
  padding-left: 1.2rem;
  flex-flow: column wrap;
  overflow: hidden;
}
.courses-box {
  width: 70vw;
  display: flex;
  flex-direction: column;
}
.courses-pictures {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  margin: 0px;
  overflow: hidden;
  box-sizing: border-box;
  overflow-y: hidden;
}
.course-content {
  box-sizing: border-box;
  margin: 10px 5px;
  padding: 0;
  flex: 0 0 15%;
  flex-direction: column;
  display: inline-block;
  position: relative;
  width: 240px;
  height: 265px;
  background-color: white;
}
.border {
  border: 1px solid #d1d7dc;
  margin-bottom: 0;
  padding: 0;
  width: "240";
  height: "135";
}
.course-content:hover {
  cursor: pointer;
}
.instructors {
  color: #6a6f73;
  margin: 2px 0;
  padding: 0;
  font-family: udemy sans, sf pro text, -apple-system, BlinkMacSystemFont,
    Roboto, segoe ui, Helvetica, Arial, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 11px;
}
.course-rating {
  display: flex;
}
.rating-number {
  color: #b4690e;
  font-size: 15px;
  font-weight: bolder;
  margin: 3px 0;
  padding: 0;
}
.reviews-number {
  color: #6a6f73;
  font-size: 11px;
  font-weight: 400;
  margin: 3px 0;
  padding: 0;
  align-self: center;
}
.course-title h3 {
  font-size: 14px;
  font-weight: bolder;
  margin: 2px 0;
  padding: 0;
}
.bestseller {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: #eceb98;
  color: #3d3c0a;
  display: inline-block;
  margin-top: 6px;
  padding: 0.3rem 0.6rem;
  white-space: nowrap;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.02rem;
  font-size: 11px;
}
footer {
  color: #fff;
  display: flex;
  justify-content: space-between;
  background-color: #1c1d1f;
  align-items: center;
  width: 100%;
  margin: auto 0 0 0;
}
@media only screen and (max-width: 1800px) {
  .billboard-content-box {
    transform: translate(-17vw, 55px);
  }
}
@media only screen and (max-width: 1300px) {
  .billboard-banner-image-container {
    background-color: #f8f8f8;
    min-height: 180px;
    min-width: 100%;
  }
  main {
    min-width: 100%;
  }
}
@media only screen and (max-width: 1300px) {
  .udemy-business {
    position: absolute;
    display: none;
    visibility: hidden;
  }
  .billboard-content-box {
    width: 300px;
    height: 80px;
    transform: translate(-25vw, 15px);
  }
  .courses-container {
    min-width: 138%;
    display: flex;
    border: 1px solid #d1d7dc;
    padding: 1.7rem;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transform: translate(17px, 0);
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1100px) {
  .teach-on-udemy {
    position: absolute;
    display: none;
    visibility: hidden;
  }
}
@media only screen and (max-width: 850px) {
  .billboard-content-box {
    position: relative;
    display: block;
    flex-direction: column;
    box-shadow: none;
    box-shadow: 0 0px 0px rgb(0 0 0 / 8%), 0 0px 0px rgb(0 0 0 / 8%);
    margin: 0;
    line-height: 1.2;
    min-width: 100%;
    max-width: none;
    height: auto;
    padding: 0rem;
    transform: translate(0, 0);
    margin-left: 2rem;
  }
  .billboard {
    flex-direction: column;
  }

  .course-content {
    flex: 0 0 30%;
    max-width: 240px;
  }
  .border {
    width: 100%;
    height: auto;
  }
  .webpage {
    position: absolute;
    display: none;
    visibility: hidden;
  }
  .mobile {
    position: static;
    display: flex;
    visibility: inherit;
  }
  .search-icon {
    display: block;
  }
  .nav-links {
    transform: translate(-0px, 0px);
  }
}