body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #1c1d1f;
  z-index: 0;
  justify-content: center;
  align-items: center;
}
div article{
  line-height: 1.1;
}
h1{
  font-family: suisse;
}
h3{
  font-weight: lighter;
  font-size: small;
}
.web-main-content-wrapper{
    position: relative;
    margin: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,.08),0 4px 12px rgba(0,0,0,.08);
    padding: 0px;
    z-index: 1;

}

.mobile{
  position: absolute;
  display: none;
  visibility: hidden;
}
.nav-links {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  
}

.nav-links div {
    list-style: none;
    display: inline-flex;
    padding: 0 0rem;
    width: auto;
    height: 100%;
    color: black;
}

.nav-links .form {
  width: 100%; display: flex; height: 40px
}

.nav-links div a{
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

.search-bar {
  display: block;
  max-width: none;
  min-width: 50px;
  flex-grow: 1;
  height: 4.8rem;
  border: 1px solid #1c1d1f;
  background-color: #f7f9fa;
  border-radius:9999px;
  margin:0 1.2rem;
  
}
.sign-up{
  position: relative;
  border: 1px black solid;
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 5rem;
  color: #fff;
  background-color: #1c1d1f;
  text-decoration: none;
}
.login{
  position: relative;
  border: 1px black solid;
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 5rem;
  color: black;
  text-decoration: none;
}


.login:hover{
  background-color: #E0E0E0;
}
.lang:hover{
  background-color: #E0E0E0;
}
.language{
  position: relative;
  border: 1px black solid;
  display: block;
  align-items: center;
  justify-content: center;
  color: #5624d0;
  text-decoration: none;
}
.search-icon{
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 5px;
}
.shopping-cart{
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 5px;
}
.search-bar input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #f7f9fa;
}


.no-outline:focus {
  outline: none;
}

.dark {
  color: black;
}

div .dark :hover {
  color: #5624d0;
}


main {
  align-self: center;
  min-width: 70vw;
  max-width: 1345px;
  background-color: white;
}
/* Billboard section */
.billboard {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  z-index: 0;
  margin-bottom: 0.5rem;
}
.billboard-banner-image-container {
  background-color: #f8f8f8;
  height: 20vw;
  min-width: 70vw;
  max-width: 1345px;
  overflow: hidden;
}
.billboard-banner-image-container img {
  object-fit: contain;
  object-position: initial;
}

.billboard-content-box {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  background: #fff;
  position: absolute;
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 8%);
  padding: 2.4rem;
  margin: 0;
  line-height: 1;
  width: 350px;
  height: 90px;
  transform: translate(-17vw, 55px);
}


.main-items{
  padding: 1rem;
}
@media only screen and (max-width: 1300px){
  .billboard-banner-image-container {
    background-color: #f8f8f8;
    min-height: 180px;
    min-width: 100%;
  }
  main {
    min-width: 100%;
  }
  

}
@media only screen and (max-width: 1300px) {
  .udemy-business {
    position: absolute;
    display: none;
    visibility: hidden;
  }
  .billboard-content-box {
    width: 300px;
    height: 80px;
    transform: translate(-25vw, 15px);
  }
}
@media only screen and (max-width: 1100px) {
   .teach-on-udemy {
    position: absolute;
    display: none;
    visibility: hidden;
  }
}
@media only screen and (max-width: 850px) {
  .billboard-content-box {
    position: relative;
    display: block;
  flex-direction: column;
  box-shadow: none;
  box-shadow: 0 0px 0px rgb(0 0 0 / 8%), 0 0px 0px rgb(0 0 0 / 8%);
  margin: 0;
  line-height: 1.2;
  min-width: 100%;
  max-width: none;
  height: auto;
  padding: 1rem;
  transform: translate(0, 0);
  }
  .billboard {
    flex-direction: column;
  }
 
  .webpage{
    position: absolute;
    display: none;
    visibility: hidden;
  }
  .mobile{
    position: static;
    display: flex;
    visibility: inherit;
  }
  .search-icon {
    display: block;
  }
}