* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  display: flex;
  background-color: fff;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  line-height: 1;
  color: #1c1d1f;
  z-index: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  color: black;
  font-size: xx-large;
}
.material-symbols-outlined:hover {
  font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 48;
  color: #5624d0;
}
div article {
  line-height: 1.1;
}
h1,
h2 {
  font-family: suisse;
}
h3 {
  font-weight: lighter;
  font-size: small;
  margin: 0;
}

.center {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: block;
  text-decoration: none;
}
.web-main-content-wrapper {
}
.hide {
  position: relative;
  display: none !important;
  visibility: collapse;
  background-color: #b4690e;
}
.mobile {
  position: absolute;
  display: none;
  visibility: hidden;
}
.web-logo > figure {
  margin: 0;
  padding: 0.8rem;
}
.white-button {
  position: relative;
  border: 1px black solid;
  display: block;
  align-items: center;
  justify-content: center;
  max-width: none;
  color: #1c1d1f;
  text-decoration: none;
  max-height: 2.6rem;
  padding: 0.8rem;
}

.white-button:hover {
  background-color: #e0e0e0;
  color: #1c1d1f;
}
.button-margin {
  margin: 0 4px;
  padding: 0;
}
.dark {
  color: black;
}

div .dark :hover {
  color: #5624d0;
}

main {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 70vw;
  margin-bottom: 20px;
  max-width: 1345px;
}
.under-main-width {
  width: 70vw;
}
.border {
  border: 1px solid #d1d7dc;
  margin-bottom: 0;
  padding: 0;
  width: "240";
  height: "135";
}

footer {
  display: flex;
  color: #fff;
  justify-content: space-between;
  background-color: #1c1d1f;
  align-items: center;
  width: 100%;
  margin: auto 0 0 0;
  padding: 0 1rem;
}
@media only screen and (max-width: 1800px) {
}
@media only screen and (max-width: 1300px) {
  main {
    min-width: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .border {
    width: 100%;
    height: auto;
  }
  .webpage {
    position: absolute;
    display: none;
    visibility: hidden;
  }
  .mobile {
    position: static;
    display: flex;
    visibility: inherit;
  }
}

.bg-transparent {
  --bs-bg-opacity: 1;
  background-color: black !important;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  transform: translate(0,50px);
}
@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(100%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33%);
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}
/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(20%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-20%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
